<template>
     <features-split-section>

        <c-section-header :data="sectionHeader" tag="h3" class="center-content" style="margin-top: -70px;" />

        <features-split-container>
            <features-split-item>
                <features-split-copy title="Interpretable Probabalistic Predictions" revealFrom="left">
                    For Making Key Decisions In Real Time
                </features-split-copy>
                <features-split-media :imageFill="true" :revealScaleUp="true">
                    <c-image
                            :src="require('@/assets/images/gpr.png')"
                            alt="Features split top 01"
                            :width="700"
                            :height="283" />
                </features-split-media>
            </features-split-item>
    
            <features-split-item>
                <features-split-copy title="Fast Similarity Search" revealFrom="left">
                    Through Huge Datasets
                </features-split-copy>
                <features-split-media :imageFill="true" :revealScaleUp="true">
                    <c-image
                        :src="require('@/assets/images/features-split-image.svg')"
                        alt="Features split image 02"
                        :width="528"
                        :height="396" />
                    <div style="position:absolute;width:100%;max-width:100%;top:0%;">
                        <c-image
                            :src="require('@/assets/images/annoy.png')"
                            alt="Features split top 02"
                            :width="700"
                            :height="583" />
                        </div>
                </features-split-media>
        </features-split-item>

        <features-split-item>
                <features-split-copy title="Reusable Feature Extraction Algorithms" revealFrom="left">
                    Using Differential Geometry
                </features-split-copy>
                <features-split-media :imageFill="true" :revealScaleUp="true">
                    <c-image
                        :src="require('@/assets/images/features-split-image.svg')"
                        alt="Features split image 03"
                        :width="428"
                        :height="396" />
                    <div style="position:absolute;width:100%;max-width:100%;top:15%;margin-bottom:0px;">
                        <c-image
                            :src="require('@/assets/images/diff_geo.png')"
                            alt="Features split top 03"
                            :width="500"
                            :height="383" />
                    </div>
                </features-split-media>
            </features-split-item>

            <features-split-item>
                <features-split-copy title="Anomaly Detection" revealFrom="left">
                    Need content here ...
                </features-split-copy>
                <features-split-media :imageFill="true" :revealScaleUp="true">
                    <c-image
                        :src="require('@/assets/images/anomaly.png')"
                        alt="Features split top 03"
                        :width="500"
                        :height="383" />
                </features-split-media>
            </features-split-item>

            <features-split-item>
                <features-split-copy title="Compression and Dimensionality Reduction" revealFrom="left">
                    Improve Performance End to End
                </features-split-copy>
                <features-split-media :imageFill="true" :revealScaleUp="true">
                    <c-image
                        :src="require('@/assets/images/compress.png')"
                        alt="Features split top 03"
                        :width="500"
                        :height="383" />
                </features-split-media>
            </features-split-item>

        </features-split-container>
     </features-split-section>
</template>

<script>
import { SectionSplitProps } from '@/utils/SectionProps.js'
import CSectionHeader from '@/components/sections/partials/SectionHeader.vue'
import CImage from '@/components/elements/Image.vue'

import FeaturesSplitSection from '@/components/sections/features-split/FeaturesSplitSection.vue'
import FeaturesSplitContainer from '@/components/sections/features-split/FeaturesSplitContainer.vue'
import FeaturesSplitItem from '@/components/sections/features-split/FeaturesSplitItem.vue'
import FeaturesSplitCopy from '@/components/sections/features-split/FeaturesSplitCopy.vue'
import FeaturesSplitMedia from '@/components/sections/features-split/FeaturesSplitMedia.vue'

export default {
  name: 'CFeaturesSplit',
  components: {
    CSectionHeader,
    CImage,

    FeaturesSplitSection,
    FeaturesSplitContainer,
    FeaturesSplitItem,
    FeaturesSplitCopy,
    FeaturesSplitMedia,
  },
  mixins: [SectionSplitProps],
  data() {
    return {
      sectionHeader: {
        title: 'Machine Learning Services'
      }
    }
  }
}
</script>