<template>
    <hero-split-section>
        <hero-split-container>
            <hero-split-item>
                <hero-split-copy title="Machine Learning Consulting">
                    <p>
                        We deliver tangible insights into large datasets and develop cutting edge technology that sets them apart from the competition. 
                    Our expertise in deep learning and distributed computing allows us to tackle 
                    large scale problems. And when there isn't enough labeled training data 
                    for traditional deep learning we apply our unique expertise in differential geometry to extract the needed features without deep learning. 
                    </p>
                </hero-split-copy>
                <hero-split-media revealRotateFromXXX="left" :is3d="false">
                    <c-image
                        class="has-shadow"
                        :src="require('@/assets/images/gu_connor.jpeg')"
                        alt="Hero image"
                        :width="528" />
                </hero-split-media>
            </hero-split-item>
        </hero-split-container>
    </hero-split-section>
</template>

<script>
import { SectionSplitProps } from '@/utils/SectionProps.js'
import CImage from '@/components/elements/Image.vue'

import HeroSplitSection from '@/components/sections/hero-split/HeroSplitSection.vue'
import HeroSplitContainer from '@/components/sections/hero-split/HeroSplitContainer.vue'
import HeroSplitItem from '@/components/sections/hero-split/HeroSplitItem.vue'
import HeroSplitCopy from '@/components/sections/hero-split/HeroSplitCopy.vue'
import HeroSplitMedia from '@/components/sections/hero-split/HeroSplitMedia.vue'

export default {
  name: 'CHeroSplit',
  components: {
    CImage,

    HeroSplitSection,
    HeroSplitContainer,
    HeroSplitItem,
    HeroSplitCopy,
    HeroSplitMedia,
  },
  mixins: [SectionSplitProps]
}
</script>
