<template>
    <fragment>
        <hero-split image-fill />
        <features-split invert-mobile image-fill />
    </fragment>
</template>

<script>
// import layout
import CLayout from '@/layouts/LayoutDefault.vue'
// import sections
// import CHeroFull from '@/components/sections/HeroFull.vue'
import HeroSplit from './HeroSplit.vue';
import FeaturesSplit from './FeaturesSplit.vue'

export default {
  name: 'Home',
  components: {
    HeroSplit,
    FeaturesSplit
  },
  created() {
    this.$emit('update:layout', CLayout)
  },

  mounted() {
    window.scrollTo({ top: 0, behavior: 'auto' }); // Try behavior: 'smooth' to have special dscroll effect
   }
}
</script>
