<template>
    <div class="hero-content split-item-content center-content-mobile">
        <h3 class="mt-0 mb-12" data-reveal-delay="150" 
            :class="revealFrom && 'reveal-from-' + revealFrom">
            {{title}}
        </h3>
        <div class="mt-0 mb-24" data-reveal-delay="300" 
            :class="revealFrom && 'reveal-from-' + revealFrom">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
  name: 'HeroSplitCopy',
  props: ['title', 'revealFrom']
}
</script>