<template>
    <div class="hero-figure split-item-image"
        :class="is3d && 'is-3d'">
        <div data-reveal-delay="450"
            :class="revealRotateFrom && 'reveal-rotate-from-' + revealRotateFrom">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
  name: 'HeroSplitMedia',
  props: ['revealRotateFrom', 'is3d']
}
</script>