<template>
    <section
        class="hero section"
        :class="[
            topOuterDivider && 'has-top-divider',
            bottomOuterDivider && 'has-bottom-divider',
            hasBgColor && 'has-bg-color',
            invertColor && 'invert-color'
        ]">
        <div class="container">
            <div
                class="hero-inner section-inner"
                :class="[
                    topDivider && 'has-top-divider',
                    bottomDivider && 'has-bottom-divider'
                ]">
                <slot />
            </div>
        </div>
    </section>  
</template>

<script>
import { SectionSplitProps } from '@/utils/SectionProps.js'

export default {
  name: 'HeroSplitSection',
  mixins: [SectionSplitProps]
}
</script>