<template>
    <div
        class="split-wrap"
        :class="[
            invertMobile && 'invert-mobile',
            invertDesktop && 'invert-desktop',
            alignTop && 'align-top'
        ]">
        <slot />
    </div>
</template>

<script>
import { SectionSplitProps } from '@/utils/SectionProps.js'

export default {
  name: 'FeaturesSplitContainer',
  mixins: [SectionSplitProps]
}
</script>