<template>
    <div
        class="split-item-image" data-reveal-container=".split-item" data-reveal-delay="200"
        :class="[
            imageFill && 'split-item-image-fill',
            revealScaleUp && 'reveal-scale-up', 
            revealRotateFrom && 'reveal-rotate-from-' + revealRotateFrom
        ]">
        <slot />
    </div>
</template>

<script>
export default {
  name: 'FeaturesSplitMedia',
  props: ['imageFill', 'revealRotateFrom', 'revealScaleUp']
}
</script>