<template>
    <div class="split-item-content center-content-mobile">
        <h4 class="mt-0 mb-16" data-reveal-container=".split-item"
            :class="revealFrom && 'reveal-from-' + revealFrom">
            {{title}}
        </h4>
        <div class="m-0" data-reveal-delay="100" data-reveal-container=".split-item"
            :class="revealFrom && 'reveal-from-' + revealFrom">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
  name: 'FeaturesSplitCopy',
  props: ['title', 'revealFrom']
}
</script>