<template>
    <c-login-form />
</template>

<script>
// import layout
import CLayout from '@/layouts/LayoutSignin.vue'
// import sections
import CLoginForm from '@/components/sections/LoginForm.vue'

export default {
  name: 'Login',
  components: {
    CLoginForm
  },
  created() {
    this.$emit('update:layout', CLayout)
  },

  mounted() {
    window.scrollTo({ top: 0, behavior: 'auto' }); // Try behavior: 'smooth' to have special dscroll effect
   }
}
</script>