<template>
  <div>
      <c-generic-section class="center-content">
          <c-section-header tag="h2" :data="headerTitle" bottom-divider  class="center-content" 
              style="margin-top: -50px; padding-bottom: 20px; border-bottom: 1px solid #ebebeb;" />
      </c-generic-section>

       <hero-split-section style="margin-top: -100px">
        <hero-split-container>
            <hero-split-item>
                <hero-split-copy title="Schedule a 15-min call with an AI expert">
                    <p>
                        Have a project in mind? Or just curious about AI?
                    </p>
                     <p>Let's connect to discuss your needs and determine if AI is a fit for your use case.</p>
                     <div>
                        <router-link to="/signup/" class="button button-dark button-sm" style="background-color: #628df3;">SHEDULE A CALL</router-link>
                    </div>
                </hero-split-copy>
                <hero-split-copy>
                    <el-card class="box-card">            
                      <el-row type="flex" justify="start"> 
                        <el-col :span="3">
                          <i class="el-icon-magic-stick"></i>
                        </el-col>                 
                        <el-col>
                          <h6>Understand Artificial Intelligence</h6>
                          <p>Learn which areas of your business can be improved with AI</p>
                        </el-col>
                      </el-row>
                      <el-row type="flex" justify="start"> 
                        <el-col :span="3">
                          <i class="el-icon-circle-check"></i>
                        </el-col>                 
                        <el-col>
                          <h6>Get a Project Estimation</h6>
                          <p>Get a Project Estimation Estimate the time and budget needed to develop a solution</p>
                        </el-col>
                      </el-row>
                      <el-row type="flex" justify="start"> 
                        <el-col :span="3">
                          <i class="el-icon-user"></i>
                        </el-col>                 
                        <el-col>
                          <h6>Get to know Dasion</h6>
                          <p>Learn more about our team's expertise and capabilities</p>
                        </el-col>
                      </el-row>
                    </el-card>
                </hero-split-copy>
            </hero-split-item>
        </hero-split-container>
    </hero-split-section>

  </div>
</template>

<script>
// import layout
import CLayout from '@/layouts/LayoutSignin.vue'
import CGenericSection from '@/components/sections/GenericSection.vue'
import CSectionHeader from '@/components/sections/partials/SectionHeader.vue'

import HeroSplitSection from '@/components/sections/hero-split/HeroSplitSection.vue'
import HeroSplitContainer from '@/components/sections/hero-split/HeroSplitContainer.vue'
import HeroSplitItem from '@/components/sections/hero-split/HeroSplitItem.vue'
import HeroSplitCopy from '@/components/sections/hero-split/HeroSplitCopy.vue'
// import HeroSplitMedia from '@/components/sections/hero-split/HeroSplitMedia.vue'

export default {
  name: 'ScheduleCall',
  components: {
    CGenericSection,
    CSectionHeader,

    HeroSplitSection,
    HeroSplitContainer,
    HeroSplitItem,
    HeroSplitCopy,
    // HeroSplitMedia,
  },
  data() {
    return {
      headerTitle: {
        title: "Let's talk about AI"
      },
    }
  },

  created() {
    this.$emit('update:layout', CLayout)
  },

  mounted() {
    window.scrollTo({ top: 0, behavior: 'auto' }); // Try behavior: 'smooth' to have special dscroll effect
   }
}
</script>

<style scoped>
  h6 {
    margin-bottom: 10px;
  }

  .el-card p {
    font-size: .8em
  }

  i {
    color: #5fabef;
    font-size: 40px; 
    color: #5fabef;
  }
</style>

