<template>
    <c-signup-form />
</template>

<script>
// import layout
import CLayout from '@/layouts/LayoutSignin.vue'
// import sections
import CSignupForm from '@/components/sections/SignupForm.vue'

export default {
  name: 'Signup',
  components: {
    CSignupForm
  },
  created() {
    this.$emit('update:layout', CLayout)
  },

  mounted() {
    window.scrollTo({ top: 0, behavior: 'auto' }); // Try behavior: 'smooth' to have special dscroll effect
   }
}
</script>

