<template>
    <section
        class="hero section center-content"
        :class="[
            topOuterDivider && 'has-top-divider',
            bottomOuterDivider && 'has-bottom-divider',
            hasBgColor && 'has-bg-color',
            invertColor && 'invert-color'
        ]">
        <div class="container">
            <div
                class="hero-inner section-inner"
                :class="[
                    topDivider && 'has-top-divider',
                    bottomDivider && 'has-bottom-divider'
                ]">
                <div class="hero-content">
                    <div class="container-xs">
                        <h1 class="mt-0 reveal-from-left">
                            Machine Learning Consulting
                        </h1>
                    </div>
                </div>
                <div class="hero-figure reveal-scale-up" data-reveal-delay="150">
                    We work with companies big and small to deliver tangible insights from their data and develop cutting edge technology that sets them apart from the competition. 
                    Our expertise in deep learning and distributed computing allows us to tackle 
                    large scale problems. When there is not nearly enough labeled training data 
                    for tradition deep learning we apply our unique expertise in differential geometry to extract the needed features without deep learning. 
                    We extract meaningful features from data and apply powerful machine learning techniques to offer the following new capabilities.
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { SectionProps } from '@/utils/SectionProps.js'
// import CImage from '@/components/elements/Image.vue'
// import CModal from '@/components/elements/Modal.vue'

export default {
  name: 'CHeroFull',
  mixins: [SectionProps],
  components: {
    // CImage,
    // CModal
  },
  data() {
    return {
      videoModalActive: false
    }
  }
}
</script>