<template>
    <div class="brand">
        <h1 class="m-0">
            <router-link to="/" style="text-decoration: none;">
                <c-image
                    :src="require('@/assets/images/DasionLogo.png')"
                    alt="Dasion"
                    :width="44"
                    :height="32" />
                <span style="vertical-align: text-top;; font-size: .6em; margin-left: 0px; color: rgb(54, 96, 175);">Dasion</span>
            </router-link>
        </h1>
    </div>

     <!-- :src="require('@/assets/images/logo.svg')" -->
</template>

<script>
import CImage from '@/components/elements/Image.vue'

export default {
  name: 'CLogo',
  components: {
    CImage
  }
}
</script>

<style scoped>
  img, svg, video {
    display: inline !important;
    }
  </style>


